/* || SCROLLBAR  */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-transparent);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  background-clip: padding-box;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}
/* || Header, Footer and Main Navigation   */
body {
  color: rgba(var(--color-neutral), 1);
  background-color: var(--color-primary);
  background: #1b1e29 url('../img/stars.png') repeat;
  /* background: #191633 url('../img/stars.png') repeat;
  background: #162233 url('../img/stars.png') repeat; */
  background-size: cover;
}
header nav {
  height: var(--header-height);
  width: 100%;
  color: black;
  background-color: var(--color-transparent);
  background-color: var(--color-primary-transparent);
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
    0 1px 10px 0 rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity)),
    0 2px 4px -1px rgba(0, 0, 0, 0.2); */

  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
    0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity));
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

nav ul li .item-list,
.logo,
.search {
  display: flex;
  border: 1px solid transparent;
  padding: 16px;
  color: var(--color-neutral);
  transition: all 100ms ease-in;
  cursor: pointer;
}

nav ul li .item-list.--active {
  border-radius: 0;
  border-bottom: 1px solid var(--color-neutral);
}

nav ul li .item-list:hover {
  color: var(--color-neutral-transparent);
  border-radius: 0;
  border-bottom: 1px solid var(--color-neutral);
}

main {
  color: var(--color-neutral);
  padding: 0 1rem;
  min-height: calc(100% - (var(--header-height) + var(--footer-height)));
}

footer {
  font-size: 0.8rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: var(--footer-height);
  color: var(--color-neutral);
  background-color: var(--color-primary-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .content a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.7);
}

/* || Store Page */
main#store {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  max-width: 100rem;
  padding: 2rem 1rem;
}

section.products .content {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    'filter  result result result result'
    'filter  result result result result'
    '......  result result result result';
}
section.products .content .filters {
  min-width: 300px;
  width: 300px;
  border-radius: 0.25rem;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  grid-area: filter;
}
section.products .content .filters .type + .type {
  margin-top: 2rem;
}

section.products .content .filters .type .content {
  display: block;
}

section.products .content .filters .type .content .item {
  padding: 4px 8px;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;
}

section.products .content .filters .type .content .item + .item {
  margin-top: 4px;
}

section.products .content .filters .type .content .item:hover,
section.products .content .filters .type .content .item:hover a {
  background-color: #1c2033;
  background-color: #181d33;
  /* background-color: #282a33; */
  color: var(--color-neutral-transparent);
}

section.products .content .filters .type .content .item.--active {
  background-color: #1c2033;
  background-color: #181d33;
  /* background-color: #282a33; */
}
section.products .content .results {
  display: flex;
  grid-area: result;
  flex-wrap: wrap;
  gap: 1rem;
}

section.products .content .results .card {
  height: 330px;
  width: 290px;
  min-width: 290px;
  background-color: var(--color-primary);
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  cursor: pointer;
}
section.products .content .results .card:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
    0 1px 10px 0 rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity)),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

section.products .content .results .card img {
  height: 125px;
  width: 125px;
}
section.products .content .results .card .description {
  padding-top: 3rem;
}
section.products .content .results .card .description .price {
  padding-top: 4px;
  font-weight: bold;
}

@media (max-width: 1275px) {
  section.products .content .results .card {
    width: 45%;
  }
}
@media (max-width: 425px) {
  section.products .content .filters {
    display: none;
  }
  section.products .content {
    gap: 0;
  }
}

/* @media (max-width: 920px) {
  section.products .content {
    gap: 1rem;
  }

  section.products .content .results .card {
    width: 285px;
  }
}

@media (max-width: 875px) {
  section.products .content .results .card {
    width: 460px;
  }
}  */

@media (max-width: 967px) {
  section.products .content .results .card {
    width: 100%;
  }
}

/*#region Login*/

#login-screen {
  font-family: Helvetica;
  color: #323232;
}

#login-container {
  background-color: #fff;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

#login-screen form {
  margin-top: 30px;
  margin-bottom: 40px;
}

#login-screen a {
  font-size: 0.8rem;
}

#login-screen a:hover {
  color: 085588;
}

#login-screen label,
#login-screen input {
  display: block;
  width: 100%;
  text-align: left;
}

#login-screen label,
#register-form-container label {
  font-weight: bold;
  font-size: 0.8rem;
}

#login-screen input {
  border: none;
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

#login-screen input:focus,
#register-form-container input:focus,
#register-form-container select,
#register-form-container textarea {
  outline: none;
  border-bottom: 2px solid #08558b;
}

#forgot-pass {
  text-align: right;
  display: block;
}

#login-screen input[type='submit'],
#register-form-container input[type='submit'] {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: #fff;
  background-color: #08558b;
  cursor: pointer;
}

#login-screen input[type='submit']:hover,
#register-form-container input[type='submit']:hover {
  background-color: #1c223c;
  transition: 0.5s;
}

#register-container p {
  margin-bottom: 10px;
}

#register-screen {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

#register-form-container {
  font-family: Helvetica;
  color: #323232;
  background-color: #fff;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 10px;
}

#register-form-container h1 {
  font-size: 1.6rem;
  margin-bottom: 25px;
  text-align: center;
}

#register-form-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#register-form-container .full-box {
  flex: 1 1 100%;
  position: relative;
}

#register-form-container .half-box {
  flex: 1 1 45%;
}

#register-form-container .small-box {
  flex: 1 1 30%;
}

#register-form-container .spacing {
  margin-right: 2.5%;
}

#register-form-container input,
#register-form-container select,
#register-form-container textarea {
  border: none;
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.wid-100 {
  display: block;
  width: 100%;
}
/*#endregion */
