*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body,
html {
  height: 100%;
  font-size: 16px;
  font-family: system-ui, sans-serif;
}
a {
  text-decoration: none;
}
