@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  /* --color-primary: #333f44; */
  --color-primary: #0b0d17;
  --color-primary-transparent: rgba(11, 13, 23, 0.5);
  --color-secondary: #182124;
  --color-background: #11131b;
  --color-neutral: rgb(245, 245, 245);
  --color-neutral-transparent: rgba(245, 245, 245, 0.7);
  --color-transparent: transparent;
  --color-scrollbar: #aaaaaa;
  --color-scrollbar-hover: #717171;
  --color: #0b0d17;
  --color-blue: #08558b;
  --color-light-grey: #e0e0e0;
  --header-height: 60px;
  --footer-height: 50px;
  --shadow-key-umbra-opacity: 0.2;
  --shadow-key-penumbra-opacity: 0.14;
  --shadow-ambient-shadow-opacity: 0.12;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body,
html {
  height: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 6rem;
  font-weight: 400;
}
h3 {
  font-size: 2rem;
}
